body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

main {
    font-size: 18pt;
    flex-grow: 1;
    display: flex;
}

table{
    table-layout: fixed;
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
}

.main_table{
    flex-grow: 1;
    background-color: #F5DEB3;
}

.form_cell{
    border: 1px solid black;
    width: 20%;
}

.form_table{
    border-collapse: separate;
    margin: auto;
    border: 2px solid red;
    border-radius: 20px;
    padding: 10px;
}

.form_table td, .form_table th{
    border: none;
}

.form_label{
    padding: 10px;
}

input[type="checkbox"], input[type="radio"] {
    width: 20px;
    height: 20px;
}

#r_text{
    width: 150px;
    font-size: 18pt;
}

#submit_button{
    font-size: 18pt;
}

.graph_cell{
    text-align: center;
    width: 45%;
}

.history_cell{
    width: 35%;
    vertical-align: top;
}

.history_table{
    margin: 20px auto;
}

.history_table td, .history_table th{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-weight: normal;
}

footer{
    background-color: dimgrey;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}