*{
    margin: 0;
    padding: 0;
}

table{
    table-layout: fixed;
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
    font-weight: normal;
    padding: 5px;
}

.body_table{
    margin: 10px auto;
    font-weight: normal;
    font-size: 18pt;
}

.header{
    font-family:  fantasy;
    font-weight: normal;
    font-size: 20px;
}

.header:hover{
    background-color: darkcyan;
}

.header p::first-letter{
    color: darkblue;
}

.form_cell{
    width: 20%;
}

.form_table{
    border-collapse: separate;
    margin: auto;
    border-radius: 20px;
    padding: 10%;
}

.form_table:hover{
    border: 2px solid darkblue;
}

.form_table td, .form_table th{
    border: none;
}

input[type="checkbox"], input[type="radio"] {
    width: 20px;
    height: 20px;
}

#r_text{
    width: 150px;
    font-size: inherit;
}

input{
    margin-left: 15%;
}

#submit_button{
    font-size: inherit;
    padding: 5%;
}

.graph_cell{
    text-align: center;
    width: 45%;
}

.history_cell{
    width: 35%;
    vertical-align: top;
    padding: 10px;
}

#history_table{
    margin: auto;
}

#history_table td, #history_table th{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

tfoot{
    text-align: center;
}
